<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Euchre</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/foundation/css/foundation.min.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script src="/foundation/js/foundation.min.js"></script>
	<script src="/js/main.js"></script>
</head>
<body>

	<%- body %>

</body>
</html>